.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    
}

.numDisplay {
    grid-column: span 4;
    justify-self: end;
}

button {
    padding: 20px;
    border: 0;
    width: auto;
}

.clear {
    grid-column: span 2;
}

.zero {
    grid-column: span 2;
}

.container {
    width: 219px;
    margin: 0 auto;
}